---
layout: /layouts/programming/programming.njk
---

{% for post in collections.programming %}
<section>
    <nav>
        <li>
            - <a href="{{post.url}}">
            <p>{{ post.data.title }}</p>
            </a>
        </li>
    </nav>
    </section>

{% endfor %}