---
layout: /layouts/gaming/gaming.njk
---


{% for post in collections.gaming %}
<section>
    <nav>
        <li>
            - <a href="{{post.url}}">
            <p>{{ post.data.title }}</p>
            </a>
        </li>
    </nav>
    </section>

{% endfor %}